@media screen and (min-width:350px) and (max-width: 500px) {
  .appName {
    font-size: 400%;
    text-align: center;
  }
  .log-but {
    width: 70%;
  }
  #top-header {
    height: 10em;
  }
  .tree-list {
    margin: 1% 0 3% 0;
    padding: 0;
  }
  ul li {
    display: inline;
  }
}
