<header id="top-header" class="row">
  <div class="col-md-6">
    <a href="{{url_for('catalogFunction')}}">
      <h1 class="appName">Plantae Garden</h1>
    </a>
  </div>
  <div class="col-md-6 text-right log-but">
    {%if 'username' not in session %}
      <a href="{{url_for('showLogin')}}"><button type="button"  id="log-in-out-button" class="btn btn-outline-success btn-lg">Login</button></a>
    {% else %}
      <a href="{{url_for('disconnect')}}"><button type="button"  id="log-in-out-button" class="btn btn-outline-danger btn-lg">Logout</button></a>
    {% endif %}
  </div>
</header>
