{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <section class="row main-body">
      <div class="col-md-6">
        <div class="flash">
          <!--MESSAGE FLASHING EXAMPLE -->
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <p><strong>{{message}}</strong></p>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </section>
    <section class="row main-body">
      <div class="item-desg">
        <article id="item-description" class="col-md-12">
            <h2 class="item-title">{{ itemName.name }}</h2>
            <p class="item-desc">{{ itemName.description }}
            </p>
        </article>
      </div>
    </section>
{% endblock %}
