{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <section class="row main-body">
      <div class="col-md-12">
        <div class="flash">
          <!--MESSAGE FLASHING EXAMPLE -->
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <p><strong>{{message}}</strong></p>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </section>
    <header class="row main-body">
      <h2 class="col-md-12 title">Criar Novo Item</h2>
    </header>
    <section class="row main-body">
      <div class="col-md-12 admin-attr">
        <form class="col-md-12 newitem" action="{{url_for('newItemFunction', category_id=category2.id )}}" method='POST'>
          <div class="form-group">
            <label>Nome do Item</label>
            <input type="text" class="form-control" id="inputTitle" name='name' required>
          </div>
          <div class="form-group">
            <label>Descrição</label>
            <textarea class="form-control" id="inputDescription" rows="3" name='description' required></textarea>
          </div>
          <div class="form-group">
            <label>Categoria</label>
            <select class="form-control" id="inputCategory" name="category" placeholder='{{category.category_id}}' required>
              {% for i in category %}
                <option value="{{i.id}}">{{ i.name }}</option>
              {% endfor %}
            </select>
          </div>
          <input type='submit' value='Create'>
        </form>
        <a href="{{ url_for('categoryFunction', category_id = category2.id)}}">
          <button class="btn btn-danger">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Cancelar
          </button>
        </a>
      </div>
    </section>
{% endblock %}
