{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row main-body">
        <!--MESSAGE FLASHING EXAMPLE -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="col-md-12 flash"><strong>{{message}}</strong></p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <section class="row main-body">
      <div id="item-description" class="col-md-4">
        <h2 class="cat-title">Categorias</h2>
        <div class="cat-all-list">
          {% for i in plantas %}
            <div class="list-group cat-list">
              <a href="{{ url_for('categoryFunction', category_id=i.id)}}" class="list-group-item">{{ i.name }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
      <ul class="col-md-2 tree-list">
        <li><i class="fa fa-pagelines"></i></li>
        <li><i class="fa fa-pagelines"></i></li>
        <li><i class="fa fa-pagelines"></i></li>
      </ul>
      <div id="item-description" class="col-md-6">
        <h2 class="cat-title">Ultimos Items</h2>
        <div class="cat-all-list">
          {% for i in itemName %}
            <div class="list-group cat-list">
              <a href="{{ url_for('itemFunction', category_id=i.category.id, item_id=i.id)}}" class="list-group-item">{{ i.name }} ({{ i.category.name }})</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}
